
:root {
    --dark-background-color:#1F2937;
    --light-background-color:#E5E7EB;
    --call-to-action-color: #3882F6;
    --light-text-color: #F9FAF8;

}

body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

a, li{
    text-decoration: none;
    list-style: none;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.navbar {
    display: flex;
    padding: 8px;
    justify-content: space-between;
}

